.chat {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
}
.chat-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.chat-main__title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5f5f5f;
}
.chat-main__title img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgb(208, 204, 204);
}

.review {
    border: 1px solid black;
    background: #fdfce6;
    border-radius: 15px;
    width: 600px;
    height: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
}

.hidden {
    display: none;
}

.modal-title {
    padding-left: 20px;
    border-bottom: 1px solid #000;
    width: 100%;
}
.review p {
    color: #868686;
    margin-top: 16px;
    padding-left: 20px;
}
.star {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 60px;
    color: #d9d9d9;
}

.star.selected {
    color: #fff048;
}

.star-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}
.review__submit {
    background-color: #ff8282;
    color: #fff;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    padding: 5px;
    border: 1px solid #ff8282;
    position: absolute;
    left: 450px;
}
.chat-main__product {
    border-bottom: 2px solid #5f5f5f;
}
.chat-main__product img {
    width: 20%;
}

.chat-main__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-main__messages--right {
    align-self: flex-end;
    max-width: 60%;
    background-color: #00c300;
    color: white;
    border-radius: 16px;
    padding: 10px;
}

.chat-main__messages--left {
    align-self: flex-start;
    max-width: 60%;
    background-color: #eee;
    color: black;
    border-radius: 16px;
    padding: 10px;
}

.chat-image__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chat-image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 8px;
}
.chat__error {
    height: 60px;
    color: #ff0000;
    text-align: left;
}

.chat-sidebar {
    text-align: center;
    width: 20%;
    margin-right: 10px;
    background: #868686;
    color: #ffffff;
    order: -1;
}
