.chat {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
}
.chat-main {
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.chat-main__title {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px solid #5f5f5f;
}
.chat-main__title img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(208, 204, 204);
}
.chat-main__title h1 {
    margin-left: 80px;
}

.chat-complite__button {
    margin-right: 20px;
    background: #ff8282;
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: 1px solid #ff8282;
    border-radius: 30px;
    position: absolute;
    right: 20px;
}

.review {
    border: 1px solid black;
    background: #fdfce6;
    border-radius: 15px;
    width: 600px;
    height: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
}

.hidden {
    display: none;
}

.modal-title {
    padding-left: 20px;
    border-bottom: 1px solid #000;
    width: 100%;
}
.review p {
    color: #868686;
    margin-top: 16px;
    padding-left: 20px;
}
.star {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 60px;
    color: #d9d9d9;
}

.star.selected {
    color: #fff048;
}

.star-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}
.review__submit {
    background-color: #ff8282;
    color: #fff;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    padding: 5px;
    border: 1px solid #ff8282;
    position: absolute;
    left: 450px;
}
.chat-main__product {
    padding: 20px 50px;
    border-bottom: 2px solid #5f5f5f;
    display: flex;
}
.chat-main__product img {
    width: 20%;
}
.product__info {
    margin-left: 80px;
}
.product__info h3 {
    font-size: 30px;
    font-weight: bold;
}

.product__info h4 {
    font-size: 26px;
}

.chat-main__messages {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.chat-main__messages--right {
    align-self: flex-end;
    width: 40%;
}
.message__profile--right {
    display: flex;
    gap: 20px;
    justify-content: end;
}
.message__profile--right p,
.message__profile--left p {
    font-weight: bold;
}
.message__contents--right {
    width: 100%;
    background-color: #b1eab1;
    border-radius: 16px;
    padding: 10px 20px;
}

.chat-main__messages--left {
    align-self: flex-start;
    width: 40%;
}

.message__profile--left {
    display: flex;
    gap: 20px;
    justify-content: start;
}

.message__contents--left {
    width: 100%;
    background-color: #9bdde1;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.message__profile--image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message__chat--image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 8px;
}
.chat-actions {
    align-self: flex-end;
    display: flex;
    padding-right: 50px;
}
.edit-btn,
.delet-btn {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    color: #5f5f5f;
    font-size: 14px;
}
.edit-btn {
    position: relative;
}
.delet-btn {
    position: absolute;
}
.chat__error {
    height: 60px;
    color: #ff0000;
    text-align: left;
}
.message__submit {
    display: flex;
    align-items: center;
    padding: 30px 30px;
}
.custom-file-input {
    margin-top: 5px;
}
#chatInput {
    width: 80%;
    margin: 0px 30px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    color: #7b7b7b;
}
#chat_image {
    display: none;
}
.file-text {
    color: #ff5555;
    border: 2px solid #ff5555;
    border-radius: 10px;
    width: 145px;
    height: 45px;
    padding: 5px;
    font-weight: bold;
}
.message__submit--button {
    margin-left: 15px;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}
.message__submit--button img {
    width: 45px;
}

.chat-sidebar {
    text-align: center;
    width: 15%;
    min-height: 100vh;
    padding-right: 10px;
    background: #868686;
    color: #ffffff;
    order: -1;
}
.on_going_transaction {
    width: 150px;
    height: 40px;
    background: #eeefeb;
    border-radius: 5px;
    padding: 5px;
    margin: 30px;
}
.on_going_transaction a {
    text-decoration: none;
}
.on_going_transaction a:visited {
    color: #000;
}
