.product {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 40px;
    gap: 20px;
}
.left-content {
    margin-top: 30px;
    width: 50%;
}
.left-content img {
    width: 80%;
}

.right-content {
    width: 50%;
    text-align: left;
}
.product-title {
    font-size: 24px;
    margin-bottom: 0;
}
.brand-name {
    font-size: 0.8em;
    margin-top: 0;
}
.product-price {
    font-size: 24px;
}
.product-icons {
    display: flex;
    gap: 10px;
    font-size: 0.8em;
}
.product-icons p {
    text-align: center;
}

.like__button {
    background: none;
    border: none;
    cursor: pointer;
}
.like__button img {
    width: 50%;
}

.comment-icon img {
    width: 50%;
}
.comment-icon p {
    text-align: left;
    padding-left: 5px;
    padding-top: 1px;
}
.product-contents,
.product-condition {
    font-size: 0.8em;
}
.product-info {
    margin-top: 15px;
}

.product-category {
    margin-bottom: 20px;
    display: flex;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.category-chips {
    background: rgb(238, 233, 233);
    padding: 5px 10px;
    border-radius: 34px;
    font-size: 0.8em;
    white-space: nowrap;
}

.product-condition-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__comments h3 {
    color: rgb(165, 161, 161);
}
.comment__title img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.comment__contents {
    margin: 10px;
}
.order__button-submit,
.comment__button-submit {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
.comments-form p {
    font-weight: bold;
    margin-bottom: 0;
}
textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.form__error {
    margin-bottom: 10px;
    height: 20px;
    color: #ff0000;
    text-align: right;
}
