.sell-item {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1540px;
}
.sell-item__title {
    margin-bottom: 20px;
    text-align: center;
}
.sell-item__contents {
    margin: 0 auto;
    width: 80%;
}
.contents__subtitle {
    color: #bdb9b9;
    border-bottom: 2px solid #d6cfcf;
}
.form__group {
    margin-bottom: 5px;
}
.form__group-image {
    height: 150px;
}

.custom-file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px dashed #000;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

#product_image {
    display: none;
}

.file-text {
    color: #e60023;
    border: 1px solid #e60023;
    border-radius: 2px;
    padding: 3px 5px;
}
.form__group-title {
    padding: 15px;
    font-weight: bold;
}
.form__error {
    height: 20px;
    padding-top: 10px;
    color: #ff0000;
    text-align: left;
}
.form__group-chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 20px;
}

.form__group-chips label {
    border: 1px solid #e60023;
    border-radius: 9999px;
    color: #e60023;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.form__group-chips input {
    display: none;
}

.form__group-chips input:checked + label {
    background-color: #e60023;
    color: #fff;
    border-color: #e60023;
    border-radius: 9999px;
    padding: 3px 6px;
}

.form__group-select {
    position: relative;
    width: 100%;
}

.form__group-select select {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}
.form__group-select::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    font-weight: bold;
}

.form__group-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.form__group-input textarea {
    padding: 10px;
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.price-input {
    position: relative;
    display: flex;
    align-items: center;
}
.price-input input {
    padding-left: 30px;
}
.price-symbol {
    position: absolute;
    left: 10px;
}
.sell-item__button {
    margin-top: 40px;
}
.button__submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
