.shipping-address {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.address__title {
    margin-bottom: 20px;
    text-align: center;
}
.address__contents {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.form__group {
    margin-bottom: 5px;
}
.form__group-title {
    text-align: left;
    font-weight: bold;
}
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.form__group-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.update-address__button {
    margin-top: 40px;
}
.button__submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
