.update_profile {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1540px;
}

.profile__title {
    margin-bottom: 20px;
    text-align: center;
}
.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.profile-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding-bottom: 30px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 30px;
}
#profile_image {
    display: none;
}
.custom-file-input {
    cursor: pointer;
    position: relative;
}

.file-text {
    color: #e60023;
    border: 1px solid #e60023;
    border-radius: 4px;
    padding: 5px 8px;
}

.input__gropu {
    margin-bottom: 5px;
}
.input__group-title {
    text-align: left;
    font-weight: bold;
}
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.input__group-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.update-profile__button {
    margin-top: 40px;
}
.button__submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .profile-image {
        width: 60%;
    }
}
